<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Salesforce">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
        <File name="fileInfoAppender" fileName="logs/salesforce-info.log" append="false"
              filePattern = "logs/qase-info-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
        <File name="fileDebugAppender" fileName="logs/salesforce-debug.log" append="false"
        filePattern="logs/qase-debug-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="fileInfoAppender" level="info"/>
            <AppenderRef ref="fileDebugAppender" level="debug"/>
        </Root>
    </Loggers>
</Configuration>